{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<style>
    .nav-col-2{
        height: 100px;
        
    }
    h3{
       
        font-size: 21px;
        color: blue;
        font-style: italic;
    }
    p{
        
        padding-top: 0px;
    }

.box{
        height: 30px;
    width: 650px;
    
    border-radius: 15px;
    font-size: medium;
}
 .box1{
    position: absolute;
    
 }
 .navbar{
    height: 25px;
   
 }
 .box1{
    padding-top: 20px;
 }
 .icon-3{
    padding-top: 30px;
 }
 .col-1 img{
    height: 100px;
    width: 80px;
    padding: 1px;
 }

 h2{
    color: blue;
    font-style: italic;
 }
 .e1{
   width: 200px;
    height: 300px;
 }

 .f2{
    width: 200px;
    height: 300px;
 }
 a{
  text-decoration: none;
 }
 .i8{
  height: 40px;
  width: 40px;
 }
</style>
</head>
<body>
    
<div class="container-fluid" >
  <div class="row nav-col-2">
    <div class="col-1 " >
            <h3>Shop easy</h3>
             <p>Explore plus</p>
             <a href="{% url 'customer:logout' %}">logout</a>
             

    </div>
    <div class="col-6">
        <div class="box1" >
       
            <input class="box"  type="text"name=""id=""placeholder="search for products ">
            <img src="{% static 'images/search1.jpg' %}" alt="">
            <!-- <img src="search1.jpg" alt=""> -->
            </div>
            
    </div>
    <div class="col-4 icon-3" >
      <img src="{% static 'images/icon2.jpg' %}" alt=""> <a href="{% url 'seller:sellerhome' %}"><img src="{% static 'images/icon2' %}" alt="">become a seller</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="{% url 'customer:signup' %}"><img src="{% static 'images/icon7.jpg' %}" alt="">Signup</a>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<a href="{% url 'customer:addcart' %}"></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'customer:home' %}"><img class="i8" src="{% static 'images/icon8.jpg' %}" alt="">Home</a></nav>

    </div>
    <div class="col-1">
        <img src="{% static 'images/icon10.jpg' %}" alt="">
    </div>

    </div>
    <div class="row">
        <div class="col-2">
            <img src="{% static 'images/ads.jpg' %}" alt="">
        </div>
        <div class="col-2">
            <img src="{% static 'images/ads2.jpg' %}" alt="">

        </div>
        <div class="col-2">
            <img src="{% static 'images/ads3new.jpg' %}" alt="">

        </div>
        <div class="col-2">
            <img src="{% static 'images/ads8.jpg' %}" alt="">

        </div>
        <div class="col-2">
            <img src="{% static 'images/ads9.jpg' %}" alt="">

        </div>
        <div class="col-2">
            <img src="{% static 'images/ads10.jpg' %}" alt="">

        </div>
    </div>
    <h2>Gadgets</h2>
    <div class="row">
      
        <div class="col-2">    <img class="e1" src="{% static 'images/ee1.jpg' %}" alt="">
         <p><a href="{% url 'customer:accessories' %}">Accessories</a></p>
      </div>
    
        <div class="col-2"><img class="e1" src="{% static 'images/e6.jpg' %}" alt="">
         <p><a href="{% url 'customer:homeapplyance' %}">Home Applyances</a></p>
      </div>
        <div class="col-2"> <img class="e1" src="{% static 'images/ee3.jpg' %}" alt="">
         <p><a href="{% url 'customer:smartphones' %}">Smart Phones</a></p>
      </div>
        <div class="col-2"> <img class="e1" src="{% static 'images/ee4.jpg' %}" alt="">
         <p><a href="{% url 'customer:watches' %}">Watches</a></p>
      </div>
        <div class="col-2"> <img class="e1" src="{% static 'images/e5.jpg' %}" alt="">
         <p><a href="{% url 'customer:gaming' %}">Gaming accessories</a></p>
      </div>
        <div class="col-2"> <img class="e1" src="{% static 'images/e7.jpg' %}" alt="">
         <p><a href="{% url 'customer:laptops' %}">Laptops&Desktops</a></p>
      </div>
        
        
       
       
   

    </div>
   
  </div>
  <h2>Fashion</h2>
  <div class="row">
    <div class="col-2" ><img class="f2" src="{% static 'images/f2.jpg' %}" alt="">
      <p><a href="{% url 'customer:formalmens' %}">Formal Menswear</a></p>
   </div>
    <div class="col-2"> <img class="f2" src="{% static 'images/f3.jpg' %}" alt="">
      <p><a href="{% url 'customer:toptrends' %}">Top-Trends</a></p>
   </div>
    <div class="col-2"><img class="f2" src="{% static 'images/f4.jpg' %}" alt="">
      <p><a href="{% url 'customer:womens' %}">womens-fashion</a></p>
   </div>
    <div class="col-2"> <img class="f2" src="{% static 'images/f5.jpg' %}" alt="">
      <p><a href="{% url 'customer:bride' %}">Bridal</a></p>
   </div>
    <div class="col-2"> <img class="f2" src="{% static 'images/f6.jpg' %}" alt="">
      <p><a href="{% url 'customer:classictrends' %}">Classic Trends</a></p>
   </div>
    <div class="col-2">  <img class="f2" src="{% static 'images/f7.jpg' %}" alt="">
      <P><a href="{% url 'customer:kids' %}">Fashion Trends</a></P>
   </div>

   
   
  


  </div>

  </div>
  <div class="footer">
    <div class="row">
   
    <div class="col-2">
     <h4>About</h4>
     <p>contact us</p>
     <p>about us</p>
     <p>careers</p>
     <p>shop easy stories</p>
   </div>
   <div class="col-2">
     <h4>Help</h4>
     <p>payments</p>
     <p>shipping</p>
     <p>FAQ</p>
   </div>
   <div class="col-3">
     <h4>Consumer Policy</h4>
     <p>cansellation and returns</p>
     <p>security</p>
     <p>Privacy</p>
   </div>
   <div class="col-2">
   <h4>Social</h4>
   <p>youtube</p>
   <p>facebook</p>
   <p>twitter</p>
   </div>
   <div class="col-2">
     <h4>Mail Us</h4>
     <p>Shopeasy internet private limited</p>
     <p>Email Id-shopeasy846@gmail.com</p>
   </div>
 </div>
</div>
 
  


   
   


   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>